flask
gunicorn

langchain>=0.1.0
langchain-community
langchain-pinecone
langchain-openai

sentence-transformers==2.2.2
transformers==4.36.2
huggingface-hub==0.20.3

pinecone-client
pypdf
python-dotenv
chromadb
